@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

.transition-200 {
  @apply transition-all duration-200;
}

.transition-300 {
  @apply transition-all duration-300;
}

.font-cursive {
  font-family: "Covered By Your Grace", cursive;
}

h1 {
  @apply text-6xl;
}
h2 {
  @apply text-5xl;
}
h3 {
  @apply text-4xl;
}
h4 {
  @apply text-3xl;
}
h5 {
  @apply text-2xl;
}
h6 {
  @apply text-xl;
}

small {
  @apply text-xs;
}

.zoom-image {
  @apply absolute w-full h-full transition-all duration-500 ease-in-out object-cover transform hover:scale-105;
}

.arrow-animation {
  animation: run 5s;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--red);
  transform-origin: 0%;
}

@keyframes run {
  from {
    transform: translateX(100);
  }
  to {
    transform: translateX(0);
  }
}

svg {
  vertical-align: baseline;
}
